<%- include("partials/header.ejs")%>  
<%- include("partials/homenavbar.ejs")%>  

<body>
    <div class="container">
        <hr>
                
        <% articles.rows.forEach(article => {  %>
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div><br>
            <div class="card-body">
                <a href="/<%= article.slug %>" class="btn btn-primary">Ler Artigo</a>
            </div><br>
        <% }) %>

        <hr>
        <div class="row">
            <div class="col offset-md-9">
                <% if(page > 1) {%>
                    <% if(page -1 == 1) {%>
                        <a href="/" class="btn btn-primary"><<< Previous</a>
                    <% } else { %>
                        <a href="/page/<%= parseInt(page) -1 %>" class="btn btn-primary"><<< Previous</a>
                    <% } %>
                    
                <% } %>
            </div>
            <div class="col">
                <% if(next) {%>
                    <a href="/page/<%= parseInt(page) +1 %>" class="btn btn-primary">Next >>></a>
                <% } %>
            </div>
        </div>
        <br>

    </div>
</body>

<%- include("partials/footer.ejs")%>
