<%- include("../../partials/header.ejs")%>  
<%- include("../../partials/navbar.ejs")%>  

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Edição de Usuários</h2>
        </div>
        <div class="card-body">
            <form action="/admin/users/update" method="post">
                <input type="hidden" name="id" value="<%= user.id %>">
                <input type="text" class="form-control" name="email" placeholder="Defina o e-mail do usuário" value="<%= user.email %>"><br>
                <input type="password" class="form-control" name="password" placeholder="********" value ="<%= user.password %>"><br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
        
    </div>
</div>



<%- include("../../partials/footer.ejs")%>  